# IMDb 映画レビューデータセット（英語）

海外の映画レビューネガポジデータセット

以下からダウンロードできる

- http://ai.stanford.edu/~amaas/data/sentiment/

「Large Movie Review Dataset v1.0」をクリックしてaclImdb_v1.tar.gzをダウンロード後、以下のコマンドで解凍

```
tar xvf aclImdb_v1.tar.gz
```

解答後、`aclImdb/`というフォルダができる。中に色々入っているが、ネガポジ判定データセットとしては、`test/`、`train/`配下の`neg/`、`pos/`にテキストデータが格納されているので、それらをいい感じにdataframeにすればOK

In [4]:
import pickle
import pandas as pd
import os

train_pos_dir = 'aclImdb/train/pos/'
train_neg_dir = 'aclImdb/train/neg/'

test_pos_dir = 'aclImdb/test/pos/'
test_neg_dir = 'aclImdb/test/neg/'

header = ['text', 'label', 'label_id']

train_pos_files = os.listdir(train_pos_dir)
train_neg_files = os.listdir(train_neg_dir)
test_pos_files = os.listdir(test_pos_dir)
test_neg_files = os.listdir(test_neg_dir)


def make_row(root_dir, files, label, idx):
    row = []
    for file in files:
        tmp = []
        with open(root_dir + file, 'r') as f:
            text = f.read()
            tmp.append(text)
            tmp.append(label)
            tmp.append(idx)
        row.append(tmp)
    return row

row = make_row(train_pos_dir, train_pos_files, 'pos', 0)
row += make_row(train_neg_dir, train_neg_files, 'neg', 1)
train_df = pd.DataFrame(row, columns=header)


row = make_row(test_pos_dir, test_pos_files, 'pos', 0)
row += make_row(test_neg_dir, test_neg_files, 'neg', 1)
test_df = pd.DataFrame(row, columns=header)

In [6]:
train_df.head()

                                                text label  label_id
0  For a movie that gets no respect there sure ar...   pos         0
1  Bizarre horror movie filled with famous faces ...   pos         0
2  A solid, if unremarkable film. Matthau, as Ein...   pos         0
3  It's a strange feeling to sit alone in a theat...   pos         0
4  You probably all already know this by now, but...   pos         0

In [7]:
test_df.head()

                                                text label  label_id
0  Based on an actual story, John Boorman shows t...   pos         0
1  This is a gem. As a Film Four production - the...   pos         0
2  I really like this show. It has drama, romance...   pos         0
3  This is the best 3-D experience Disney has at ...   pos         0
4  Of the Korean movies I've seen, only three had...   pos         0

In [8]:
with open('train_df.pickle', 'wb') as w:
    pickle.dump(train_df, w)
with open('test_df.pickle', 'wb') as w:
    pickle.dump(test_df, w)